# php_flag display_startup_errors on
# php_flag display_errors on
# php_flag html_errors on
# php_flag  log_errors off

# CORS 
<IfModule mod_headers.c>
    #####################################################################################################################
    #
    # CORS set a part of the Request as part of the Access-Control-Allow-Origin
    # https://stackoverflow.com/questions/14003332/access-control-allow-origin-wildcard-subdomains-ports-and-protocols/27990162#27990162
    # change the part ".+\.larslo" to allow for domain / subdomain

    SetEnvIf Origin ^(https?://.+\.larslo(?::\d{1,5})?)$   CORS_ALLOW_ORIGIN=$1
    Header set Access-Control-Allow-Origin  %{CORS_ALLOW_ORIGIN}e   env=CORS_ALLOW_ORIGIN
    Header merge  Vary "Origin"
    #
    #####################################################################################################################
    #Header set Access-Control-Allow-Origin: "*"
    Header set Access-Control-Allow-Methods: "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Credentials: true   
    Header set Access-Control-Allow-Headers: "X-PINGOTHER, Cookie, X-Requested-With, Content-Type, Accept, Origin, Authorization"
  #</FilesMatch>
</IfModule>




<IfModule mod_rewrite.c>
    RewriteEngine On
    # make this point to the directory REQUEST_URI / path
    RewriteBase /github/slim4/public  
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
